main.calc {
	background: url(../imgs/calc/calc.png) no-repeat center;
	height: 550px;
	margin: 120px auto;
	position: relative;
	width: 384px;

}
main.calc output#display {
	border: 1px solid red;
	display: block;
	height: 79px;
	font-family: calculator;
	font-size: 2.6em;
	color: #333638;
	left: 25px;
	line-height: 2em;
	position: absolute;
	text-align: center;
	top: 40px;
	width: 335px;
	

}
main.calc ul.buttons {
	list-style: none;
	left: 30px ;
	margin: 0px;
	position: absolute;
	top: 140px;
	padding: 0px;
	width: 320px;

}
main.calc ul.buttons li {
	display: inline-block;
	margin: 5px 0px 10px 20px;
	height: 62px;
	width: 62px;
}
main.calc ul.buttons li:nth-child(-n+4) {
	margin-top: 0px;
}
main.calc ul.buttons li:nth-child(4n+1) {
	margin-left: 0px;
}
main.calc ul.buttons li {
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.25s all ease-in; 
}
main.calc ul.buttons li:hover {
	cursor:pointer;
	transform: scale(1.1)
}

main.calc ul.buttons li:nth-child(1) {
	background: url(../imgs/calc/n7.png) no-repeat ;
}
main.calc ul.buttons li:nth-child(1):hover {
	background: url(../imgs/calc/hn7.png) no-repeat ;
}
main.calc ul.buttons li:nth-child(2) {
	background: url(../imgs/calc/n8.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(2):hover {
	background: url(../imgs/calc/hn8.png) no-repeat;
}
main.calc ul.buttons li:nth-child(3) {
	background: url(../imgs/calc/n9.png)no-repeat;
}
main.calc ul.buttons li:nth-child(3):hover {
	background: url(../imgs/calc/hn9.png) no-repeat;
}
main.calc ul.buttons li:nth-child(4) {
	background: url(../imgs/calc/mod.png) no-repeat;
}
main.calc ul.buttons li:nth-child(4):hover {
	background: url(../imgs/calc/hmod.png) no-repeat;
}
main.calc ul.buttons li:nth-child(5) {
	background: url(../imgs/calc/n4.png)no-repeat;
}
main.calc ul.buttons li:nth-child(5):hover {
	background: url(../imgs/calc/hn4.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(6) {
	background: url(../imgs/calc/n5.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(6):hover {
	background: url(../imgs/calc/hn5.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(7) {
	background: url(../imgs/calc/n6.png) no-repeat;
}
main.calc ul.buttons li:nth-child(7):hover {
	background: url(../imgs/calc/hn6.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(8) {
	background: url(../imgs/calc/prod.png) no-repeat;
}
main.calc ul.buttons li:nth-child(8):hover {
	background: url(../imgs/calc/hprod.png) no-repeat;
}
main.calc ul.buttons li:nth-child(9) {
	background: url(../imgs/calc/n1.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(9):hover {
	background: url(../imgs/calc/hn1.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(10) {
	background: url(../imgs/calc/n2.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(10):hover {
	background: url(../imgs/calc/hn2.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(11) {
	background: url(../imgs/calc/n3.png) no-repeat;
}
main.calc ul.buttons li:nth-child(11):hover {
	background: url(../imgs/calc/hn3.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(12) {
	background: url(../imgs/calc/subs.png) no-repeat;
}
main.calc ul.buttons li:nth-child(12):hover {
	background: url(../imgs/calc/hsubs.png) no-repeat;
}
main.calc ul.buttons li:nth-child(13) {
	background: url(../imgs/calc/n0.png) no-repeat;
}
main.calc ul.buttons li:nth-child(13):hover {
	background: url(../imgs/calc/hn0.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(14) {
	background: url(../imgs/calc/dot.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(14):hover {
	background: url(../imgs/calc/hdot.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(15) {
	background: url(../imgs/calc/plus.png)no-repeat ;
	margin-right: 60px
}
main.calc ul.buttons li:nth-child(15):hover {
	background: url(../imgs/calc/hplus.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(16) {
	background: url(../Img/calc/equal.png) no-repeat;
	height: 142px;
	position: absolute;
	right: 3px;

}
main.calc ul.buttons li:nth-child(16):hover {
	background: url(../imgs/calc/hequal.png) no-repeat;
}
main.calc ul.buttons li:nth-child(17) {
	background: url(../imgs/calc/clear.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(17):hover {
	background: url(../imgs/calc/hclear.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(18) {
	background: url(../imgs/calc/aclear.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(18):hover {
	background: url(../imgs/calc/hclear.png)no-repeat ;
}
main.calc ul.buttons li:nth-child(19) {
	background: url(../imgs/calc/dir.png) no-repeat;
}
main.calc ul.buttons li:nth-child(19):hover {
	background: url(../imgs/calc/hdir.png)no-repeat ;
}