doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title atributos
	body
		h1 atributos
		a(href="http://www.google.com", target="_blank") ir a google
		a(
		class="link",
		href="http://www.youtube.com",
		target="_blank"
		) ir a youtube